---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Works from '../components/Works.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="@@@">
	<main class="l-main">
		<Hero />
		<About />
		<Works />
		<Skills />
	</main>
</Layout>
