---
import Load from '../components/common/Load.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Works from '../components/Works.astro';
import Skills from '../components/Skills.astro';
import SectionBar from '../components/common/SectionBar.astro';
---

<Layout title="Futa Sato's Portfolio">
	<Load />
	<main class="l-main">
		<Hero />
		<About />
		<Works />
		<Skills />
		<SectionBar />
	</main>
</Layout>
