<div class="c-load js-loader-bg u-pc">
  <p class="c-load__text">Loading...</p>
  <div class="c-load__container">
    <div class="c-load__bar"></div>
  </div>
</div>

<style lang="scss">
.c-load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(30px);
  opacity: 0;
  &.is-show {
    opacity: 1;
    z-index: 20;
  }
  &__text {
    text-align: center;
    font-weight: bold;
    font-size: rem(20px);
  }
  &__container {
    width: rem(200px);
  }
  &__bar {
    width: 0;
    height: rem(2px);
    background-color: #000;
    animation: load 2.5s forwards; 
  }
  @keyframes load {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
</style>