---
const { title } = Astro.props;
---

<h2 class="c-section-title js-fade-up">{title}</h2>

<style lang="scss">
.c-section-title {
  font-size: rem(46px);
  font-weight: bold;
  color: #000;
  margin-bottom: rem(50px);
}
</style>